body{

    font-family:Arial;

    background:#f4f4f4;

    margin:40px;

}

/* BUG */

.card{

    padding:20px

    background:white;

    border-radius:10px;

    margin-bottom:15px;

}

/* BUG */

.username{

    colour:red;

    font-weight:bold;

}

/* BUG */

#userlist{

    margin-top:20px;

}